Source: gnome-shell-extension-torstatus
Section: devel
Priority: extra
Maintainer: Subgraph <info@subgraph.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, libglib2.0-dev, gnome-common
Standards-Version: 3.9.6
Homepage: https://github.com/subgraph/gnome-shell-extension-torstatus
Vcs-Git: https://github.com/subgraph/gnome-shell-extension-torstatus.git

Package: gnome-shell-extension-torstatus
Architecture: all
Built-Using: ${misc:Built-Using}
Depends: gnome-shell (>=3.14), tor, ${misc:Depends}
Description: Tor Status GNOME Shell Extension.
 GNOME Shell system indicator for Tor Network Status.
